@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rockstart App</h1>
    <h3>ASP.NET Core MVC project</h3>
    <h3>Interaction with database using Entity Framework Core</h3>
    <h3>Validate every Input Field</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

